# 01 Cleaning Label Data

In [26]:
import pandas as pd
data = pd.read_csv('../data/labels/sample_submission.CSV', delimiter=",")

print(data.head())

   image     label_name
0      1          Senne
1      2  Youssef; Akif
2      3          Seppe
3      4  Youssef; Akif
4      5        Michiel

In [27]:
data['label_name'] = data['label_name'].str.lower()
data['label_name'] = data['label_name'].str.split(';')

data['label_name'] = data['label_name'].apply(lambda x: [name.strip() for name in x])

all_names = data['label_name'].explode()

unique_names = all_names.drop_duplicates().sort_values()

print(unique_names.to_list())

['', 'akif', 'alif', 'alper', 'alpre', 'asper', 'bart', 'daiane', 'floarian', 'florian', 'konrad', 'lasse', 'lesse', 'matthias', 'mattias', 'michiel', 'nelli', 'nille', 'nothing', 'raul', 'senne', 'seppe', 'youssef']

In [28]:
correction_matrix = {
    "akif ": "akif", 
    "alif": "akif", 
    
    "alper": "alper", 
    "alpre": "alper", 
    "asper": "alper", 
    
    "bart": "bart",
    
    "daiane": "daiane",
    
    "floarian": "florian",
    "floarian": "florian",
    
    "konrad": "konrad",
    
    "lasse": "lasse",
    "lesse": "lasse",
    
    "matthias": "matthias",
    "mattias": "matthias",
    
    "michiel": "michiel",
    
    "nelli": "nelli",
    "nille": "nelli",
    
    "senne": "senne",
    
    "seppe": "seppe",
    
    "youssef": "youssef",
}

In [ ]:
def correct_names(name_list):
    return [correction_matrix.get(name, name) for name in name_list]

data['label_name'] = data['label_name'].apply(correct_names)

In [30]:
data.head()

   image       label_name
0      1          [senne]
1      2  [youssef, akif]
2      3          [seppe]
3      4  [youssef, akif]
4      5        [michiel]

In [ ]:
data.to_csv('../data/labels/clean_data.csv', index=False)